/target
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.idea
pc_code/Simulation/Simu_q/Coordinator.json
pc_code/Simulation/Simu_q/worker_0.json
pc_code/Simulation/Simu_q/worker_1.json
pc_code/Simulation/Simu_q/worker_2.json
pc_code/Algorithms/test_references/141.txt
.vscode/settings.json
MCU_code/PlatformIO_code/full-pio.code-workspace
MCU_code/PlatformIO_code/.vscode/c_cpp_properties.json
MCU_code/PlatformIO_code/download/.vscode/c_cpp_properties.json
MCU_code/PlatformIO_code/download/.cache
MCU_code/PlatformIO_code/shared/.vscode/c_cpp_properties.json
MCU_code/PlatformIO_code/download/.gitignore
MCU_code/PlatformIO_code/worker_code/.gitignore
MCU_code/inference_results_mcu.txt
pc_code/Simulation/Simu_q/res_len_0.txt
pc_code/Simulation/Simu_q/res_len_1.txt
pc_code/Simulation/Simu_q/res_len_2.txt
pc_code/Simulation/Simu_q/input_len_0.txt
pc_code/Simulation/Simu_q/input_len_1.txt
pc_code/Simulation/Simu_q/input_len_2.txt
MCU_code/PlatformIO_code/worker_code/include/lengths.h
pc_code/Algorithms/python_file/__pycache__/
pc_code/Algorithms/json_files/alexnet.json
pc_code/Algorithms/images/test*
pc_code/Simulation/Simu_q/res_len_3.txt
pc_code/Simulation/Simu_q/input_len_3.txt
pc_code/Simulation/Simu_q/worker_3.json
pc_code/Algorithms/json_files/resnet18.json
pc_code/Algorithms/json_files/test_resnet18_residual_convolution.json
pc_code/Algorithms/json_files/test_resnet18_residual_merged.json
pc_code/Fused/fused_layers_resnet18.json
pc_code/Simulation/Simu_q/worker_4.json
pc_code/Simulation/Simu_q/input_len_4.txt
pc_code/Simulation/Simu_q/res_len_4.txt
